# Exclude locally vendored dependencies.
vendor/
web/node_modules

# Exclude git history and configuration.
.git
.gitignore
web/.gitignore

# Ignore GitHub Actions
.goreleaser.yml
.github/*

# No environment variables
.env
*/.env*

# Ignore local fixtures
fixtures/*

# OS Droppings
.DS_Store
*/DS_Store

# NPM logs
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*